<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
  {% if error %}
  <div class="alert alert-primary" role="alert">
    {{ error }}
  </div>
  {% endif %}
  <a href="/account/{{ accountstatus2 }}/" style="float: right; margin-right: 35px"><button type="submit"
      class="btn btn-secondary">{{ accountstatus1 }}</button></a>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">TITLE</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
      <tr>
        <th scope="row">{{ board.id }}</th>
        <td>{{ board.username }}</td>
        <td>
          <a href="/boards/read/{{ board.id }}/">
            {{ board.title }}
          </a>
        </td>
        <td>{{ board.create_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-secondary" href="/boards/create/" style="float: right; margin-right:30px">글 작성</a>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>